<% if flash[:notice] %>
  <div class="alert alert-success alert-dismissible">
      <%= notice %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
  </button>
  </div>
<% end %>

<h1><%= @departamento.nome %></h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <td>Nome</td>
      <td>Descrição</td>
      <td>Departamento</td>
      <td>Preço</td>
      <td>Quantidade</td>
      <td colspan="2">
    </tr>
  </thead>
  <tbody>
    <%= render @produtos_por_departamento %>
  </tbody>
</table>

<%= link_to 'Editar', edit_departamento_path(@departamento), class:"btn btn-default" %>
<%= link_to 'Voltar', departamentos_path, class:"btn btn-default" %>
